.main2{
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    width: 375px;
    max-width: 375px;
    height: 100vh;
    overflow-y: auto;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
    padding-top: 100px;
}

.title{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-weight: 600;
    font-size: 20px;
}

.content{
    position: fixed; 
    max-width: 375px;
    width: 375px;
    left: 50%;
    transform: translateX(-50%);
    height: 72vh;
    background-color: #EFF6FF;
    top: 186px;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
    padding-top: 30px;
    overflow-y: scroll;
}

.content::-webkit-scrollbar{
    display: none;
}

.ul-style{
    background: #F4F9FF;
    box-shadow: 0px 14px 283px rgba(18, 22, 75, 0.07), 0px 1.75302px 35.436px rgba(18, 22, 75, 0.035);
    border-radius: 15px;    
}

.ul-style li{
    padding-top: 15px;
    padding-bottom: 0px;
}

.ul-style li:hover{
    border-radius: 10px;
}